# ======================
# OS (Mac)
# ======================
.DS_Store

# ======================
# IDE / Editors
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# Jupyter (if you use it)
# ======================
.ipynb_checkpoints/